.body-cart {
    background-color: var(--background-color);
    padding: 30px;
}

.body-table {
    /* border: 1px solid black; */
    border-radius: 3px;
    margin: auto;
    background-color: #f0c879;
    box-shadow: 1px 1px 4px 2px rgb(107, 107, 116);
    width: 800px;
    padding: 30px;
}

.text-center {
    padding: 10px;
    text-shadow: 2px 2px 2px rgb(138, 138, 150);
}

.body-table table thead {
    background-color: var(--primary-color);
    color: white;
    padding-left: 10px;
}

.body-table table thead th {
    padding-left: 10px;
}

.fa-circle-plus {
    padding: none;
    margin: none;
}

.fa-eye {
    padding-left: 15px;
}

.body-table table tbody th {
    padding-left: 10px;
    ;
}

.body-table table tbody td {
    padding-left: 0px;
}

.body-table table tbody img {
    width: 120px;
    height: 70px;
    border-radius: 3px;
}

.quantity {
    margin-left: 15px;
}

.body-table table tbody td a {
    color: black;
}

.finalForm {
    text-align: center;

}

.btn-primary {
    background-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--primary-btn-hover-color);
}